[submodule "ensiie/ensiie/s2/java-gestionnaire-inventaire"]
	path = ensiie/ensiie/s2/java-gestionnaire-inventaire
	url = git@github.com:antoine-42/gestionnaire-inventaire.git
[submodule "ensiie/s2/java-gestionnaire-inventaire"]
	path = ensiie/s2/java-gestionnaire-inventaire
	url = git@github.com:antoine-42/gestionnaire-inventaire.git
[submodule "ensiie/s3/webservices"]
	path = ensiie/s3/webservices
	url = git@github.com:antoine-42/s3-webservice.git
[submodule "lycee/projet-isn"]
	path = lycee/projet-isn
	url = git@github.com:antoine-42/jeu.git
[submodule "iut/s3_java-ihm"]
	path = iut/s3_java-ihm
	url = git@github.com:antoine-42/projet-ihm.git
[submodule "iut/s4_last-year-project"]
	path = iut/s4_last-year-project
	url = git@github.com:antoine-42/admineasy.git
[submodule "iut/s4_24h-iut-2018"]
	path = iut/s4_24h-iut-2018
	url = git@github.com:antoine-42/24h-iut-2018.git
[submodule "epita/s2_unity"]
	path = epita/s2_unity
	url = git@github.com:antoine-42/PROJECT_Hayasa.git
[submodule "ensiie/s3/continuous-integration-tp"]
	path = ensiie/s3/continuous-integration-tp
	url = git@github.com:antoine-42/s3-continuous-integration.git
[submodule "ensiie/s3/machine-learning-youtube"]
	path = ensiie/s3/machine-learning-youtube
	url = git@github.com:antoine-42/machine-learning-youtube.git
[submodule "ensiie/s3/continuous-integration-project/front"]
	path = ensiie/s3/continuous-integration-project/front
	url = git@github.com:Erlum/CI_Project_Front.git
[submodule "ensiie/s3/continuous-integration-project/back"]
	path = ensiie/s3/continuous-integration-project/back
	url = git@github.com:Erlum/CI_Project_Back.git
[submodule "ilus"]
	path = ilus
	url = git@github.com:antoine-42/ilus.git
[submodule "ensiie/s4/web-object-oriented"]
	path = ensiie/s4/web-object-oriented
	url = git@github.com:rparpa/ensiie-project.git
[submodule "ensiie/s5/compilation"]
	path = ensiie/s5/compilation
	url = git@github.com:antoine-42/compilation.git
[submodule "ensiie/s4/ocaml-graph-coloring"]
	path = ensiie/s4/ocaml-graph-coloring
	url = git@github.com:antoine-42/ocaml-graph-coloring.git
[submodule "ensiie/s5/ensiie-calendar-dl"]
	path = ensiie/s5/ensiie-calendar-dl
	url = git@github.com:antoine-42/ensiie-calendar-dl.git
[submodule "ensiie/s5/projet-compilation"]
	path = ensiie/s5/projet-compilation
	url = git@github.com:antoine-42/projet-compilation.git
[submodule "ensiie/s5/grid-computing"]
	path = ensiie/s5/grid-computing
	url = git@github.com:antoine-42/grid-computing.git
