[submodule "ensiie/ensiie/s2/java-gestionnaire-inventaire"]
	path = ensiie/ensiie/s2/java-gestionnaire-inventaire
	url = git@github.com:antoine-42/gestionnaire-inventaire.git
[submodule "ensiie/s2/java-gestionnaire-inventaire"]
	path = ensiie/s2/java-gestionnaire-inventaire
	url = git@github.com:antoine-42/gestionnaire-inventaire.git
[submodule "ensiie/s3/webservices"]
	path = ensiie/s3/webservices
	url = git@github.com:antoine-42/s3-webservice.git
[submodule "lycee/projet-isn"]
	path = lycee/projet-isn
	url = git@github.com:antoine-42/jeu.git
[submodule "iut/s3_java-ihm"]
	path = iut/s3_java-ihm
	url = git@github.com:antoine-42/projet-ihm.git
[submodule "iut/s4_last-year-project"]
	path = iut/s4_last-year-project
	url = git@github.com:antoine-42/admineasy.git
[submodule "iut/s4_24h-iut-2018"]
	path = iut/s4_24h-iut-2018
	url = git@github.com:antoine-42/24h-iut-2018.git
[submodule "epita/s2_unity"]
	path = epita/s2_unity
	url = git@github.com:antoine-42/PROJECT_Hayasa.git
[submodule "ensiie/s3/continuous-integration"]
	path = ensiie/s3/continuous-integration
	url = git@github.com:antoine-42/s3-continuous-integration.git
