input[type=number], input[type=text]{
    padding-left: 0.25em;
}

form{
    margin-top: 20px;

    display: grid;
    grid-template-columns: min-content auto auto;

    align-items: center;
    grid-gap: 10px;
}

form label{
    margin: 0;
    white-space: nowrap;
}

form p {
    margin: 0;
}

form input[type=number], form input[type=range]{
    justify-self: stretch;
    grid-column: 2 / span 2;
}

#submit_button{
    grid-column: 1 / span 3;
    justify-self: stretch;
}