#results{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    align-items: center;
}

#results h3{
    grid-column: 1 / -1;
}
#results p{
    margin: 0;
}

.user_correct{
    color: #28a745;
}
.user_wrong{
    color: #dc3545;
}