{% extends "math_web/base.html" %}

{% load static %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'math_web/css/get_settings.css' %}">
{% endblock stylesheets %}

{% block content %}
    <h2>Parametres de la generation</h2>
    <form action="./" method="post" id="get_settings_form">
        {% csrf_token %}
        {{ form }}
        <input type="range" min="0" max="100" value="50" class="slider custom-range" id="myRange">
        <input type="submit" value="OK" id="submit_button" class="btn btn-primary">
    </form>
{% endblock content %}